@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: theme(colors.slate.700);
  color: theme(textColor.slate.100);
}

html.staging {
  background-attachment: fixed;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent 0 20px,
    theme(colors.slate.600) 20px 40px
  );
}
